.ContactList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 10px;
  max-width: 450px;
}

.ContactList__item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 10px;
}

.ContactList__user {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ContactList__text {
  // min-width: 170px;
  font-size: 20px;
}

.ContactList__span {
  font-size: 20px;
}

.ContactList__btn {
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 200ms;

  &:hover {
    color: red;
  }
}
